@WebDomain generates invalid hostnames

I expected the following test to pass:

```
    @Property
    void test(@ForAll @WebDomain String host) throws URISyntaxException {
        assertNotNull(new URI("http://" + host + ":123/").getHost());
    }
```

Instead, it fails with the following message:

```
Mar 14, 2022 9:53:59 PM net.jqwik.engine.properties.shrinking.PropertyShrinker logShrinkingBoundReached
WARNING: Shrinking timeout reached after 10 seconds.
  You can switch on full shrinking with '@Property(shrinking = ShrinkingMode.FULL)'
timestamp = 2022-03-14T21:53:59.825209233, PracticeTest:test = 
  org.opentest4j.AssertionFailedError:
    expected: not <null>

                              |-------------------jqwik-------------------
tries = 4                     | # of calls to property
checks = 4                    | # of not rejected calls
generation = RANDOMIZED       | parameters are randomly generated
after-failure = PREVIOUS_SEED | use the previous seed
when-fixed-seed = ALLOW       | fixing the random seed is allowed
edge-cases#mode = MIXIN       | edge cases are mixed in
edge-cases#total = 2          | # of all combined edge cases
edge-cases#tried = 0          | # of edge cases tried in current run
seed = -6134534707433686755   | random seed to reproduce generated values

Shrunk Sample (21 steps)
------------------------
  arg0: "a.0a"

Original Sample
---------------
  arg0: "9i-KaGFpx0c6ykg6QZFZYIXyWry2KqwOhH8TpNP3dObaTa1WWfm0A.Y-v9l2R0nqo.lAeYI1skud8K.6YYy9NFt6"

  Original Error
  --------------
  org.opentest4j.AssertionFailedError:
    expected: not <null>
```

The above generated sample string is an invalid URI because RFC2396 section 3.2.2 says "The rightmost domain label of a fully qualified domain name will never start with a digit".

I'm using jqwik 1.6.5 on JRE 17.0.2+8-Ubuntu-120.04.

@klitoskyriacou Thanks for the catch. I’ll check. 

@klitoskyriacou Which jqwik version are you using?

Fixed in https://github.com/jlink/jqwik/commit/ae8e2a3905784012716f847dfb5d93ffb9e6f905

Released in 1.6.6-SNAPSHOT

Hi again, I've just tested this in 1.7.1 and it still fails. Does 1.7.1 not include this bug fix that was released in 1.6.6-SNAPSHOT?

Should have been fixed since 1.6.6. I’ll check. 

@klitoskyriacou I cannot reproduce the problem on 1.7.1. I checked that the code from https://github.com/jlink/jqwik/commit/ae8e2a3905784012716f847dfb5d93ffb9e6f905 is indeed included in file jqwik-web-1.7.1.jar. 

Can you post your Gradle or Maven file so that we can figure out the underlying problem?

Hi Johannes, thanks for getting back so quickly. I can confirm that the fix does indeed work. Apologies for the confusion: the cause was that I had copied the above code and pasted it into a Kotlin file, and IntelliJ converted the Java code into Kotlin incorrectly. It turned it into the following:
```
fun test(@ForAll host: @WebDomain String?)
```
Once I moved the `@WebDomain` to the left of the parameter name, it started working.

In theory `fun test(@ForAll host: @WebDomain String?)` should also work.



Had you included the Kotlin module?

Yes, but it had the same behaviour with or without the Kotlin module (i.e.
it worked when I moved ***@***.***` to the left of the parameter name).

On Sun, 4 Dec 2022 at 18:54, Johannes Link ***@***.***> wrote:

> Had you included the Kotlin module?
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/jlink/jqwik/issues/316#issuecomment-1336490639>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AIPGGCOAFWOJGMZI6M33EBDWLTSHJANCNFSM5QW2SDQA>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


```kotlin
@Property
fun test(@ForAll host: @WebDomain String) {
    assert(URI("http://" + host + ":123/").host != null)
}
```

works fine _on my machine_.

Mind that `String?` will sporadically inject `null` values whereas `String` will not.


> I realised I hadn't added the Kotlin compiler options documented in your guide. When I added them, it worked

Yeah. Kotlin's annotation handling still requires some tweaking to produce most of the relevant things in byte-code.
The better solution would be for jqwik to use Kotlin's own reflection API, but that requires major restructuring and won't happen before 2.0.

